body {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    background-color: #b8efe2;
    margin: 10px;
    padding: 20px;
}
h2 {
    color: #e94e77;
    text-align: center;
}
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button {
    background-color: #e94e77;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #d7375c;
}  